---
http_interactions:
- request:
    method: post
    uri: https://api.securitytrails.com/v1/ips/list
    body:
      encoding: UTF-8
      string: '{"query":"ptr_part = ''ns1''"}'
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "records": [
            {
              "ptr": "ns1",
              "ip": "12.165.101.4"
            },
            {
              "ptr": "ns1",
              "ip": "72.162.200.12"
            },
            {
              "ptr": "ns1",
              "ip": "78.100.32.11"
            },
            {
              "ptr": "ns1",
              "ip": "80.237.95.2"
            },
            {
              "ptr": "ns1",
              "ip": "91.186.12.198"
            },
            {
              "ptr": "ns1.ns1",
              "ip": "92.38.161.19"
            },
            {
              "ptr": "ns1",
              "ip": "94.102.220.179"
            },
            {
              "ptr": "ns1",
              "ports": [
                80,
                22
              ],
              "ip": "103.79.78.121"
            },
            {
              "ptr": "ns1",
              "ip": "107.173.27.251"
            },
            {
              "ptr": "ns1",
              "ip": "109.73.164.63"
            },
            {
              "ptr": "ns1",
              "ports": [
                22
              ],
              "ip": "138.128.164.19"
            },
            {
              "ptr": "ns1",
      [...]
