---
http_interactions:
- request:
    method: post
    uri: https://api.securitytrails.com/v1/ips/stats
    body:
      encoding: UTF-8
      string: '{"query":"ptr_part = ''amazon.com''"}'
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "top_ptr_patterns": [
            {
              "key": "#-#.amazon.com",
              "count": 6787
            },
            {
              "key": "#-#-#-#.amazon.com",
              "count": 3254
            },
            {
              "key": "smtp-out-#-#.amazon.com",
              "count": 662
            },
            {
              "key": "freeip.amazon.com",
              "count": 220
            },
            {
              "key": "ns-#.amazon.com",
              "count": 47
            },
            {
              "key": "www.amazon.com",
              "count": 44
   [...]
