---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/ips/nearby/8.8.8.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '3'
    body:
      encoding: UTF-8
      string: |-
        {
          "endpoint": "/v1/ips/nearby/8.8.8.8",
          "blocks": [
            {
              "sites": 6,
              "ip": "8.8.8.0/32"
            },
            {
              "sites": 13,
              "ip": "8.8.8.1/32"
            },
            {
              "sites": 4,
              "ip": "8.8.8.2/32"
            },
            {
              "sites": 2,
              "ip": "8.8.8.3/32"
            },
            {
              "sites": 15,
              "ip": "8.8.8.4/32"
            },
            {
              "sites": 0,
              "ip": "8.8.8.5/32"
            },
            {
              "sites": 3,
              "ip": "8.8.8.6/32"
            },
            {
              "sites": 8,
              "ip": "8.8.8.7/32"
            },
            {
              "sites": 22149,
              "ip": "8.8.8.8/32",
              "current": true
            },
            {
              "sites": 27,
              "ip": "8.8.8.9/32"
            },
            {
              "sites": 3,
              "ip": "8.8.8.10/32"
            },
            {
              "sites": 2,
              "ip": "8.8.8.11/32"
            },
            {
              "sites": 1,
              "ip": "8.8.8.12/32"
            },
            {
              "sites": 0,
              "ip": "8.8.8.13/32"
            },
            {
              "sites": 0,
              "ip": "8.8.8.14/32"
            },
            {
              "sites": 1,
              "ip": "8.8.8.15/32"
            }
          ]
        }
  recorded_at: Fri, 21 Jun 2019 09:25:45 GMT
recorded_with: VCR 5.0.0
