---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/history/github.com/dns/a?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '3'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "a/ipv4",
          "records": [
            {
              "values": [
                {
                  "ip_count": 18,
                  "ip": "140.82.114.4"
                }
              ],
              "type": "a",
              "organizations": [
                "GitHub, Inc."
              ],
              "last_seen": "2019-10-20",
              "first_seen": "2019-10-18"
            },
            {
              "values": [
                {
                  "ip_count": 15,
                  "ip": "140.82.113.3"
                }
              ],
              "type": "a",
              "organizations": [
                "GitHub, Inc."
              ],
              "last_seen": "2019-10-18",
              "first_seen": "2019-10-16"
            },
            {
              "values": [
                {
                  "ip_count": 18,
        [...]
