---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/history/github.com/dns/a?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "a/ipv4",
          "records": [
            {
              "values": [
                {
                  "ip_count": 470,
                  "ip": "192.30.253.112"
                }
              ],
              "type": "a",
              "organizations": [
                "GitHub, Inc."
              ],
              "last_seen": "2019-06-21",
              "first_seen": "2019-06-19"
            },
            {
              "values": [
                {
                  "ip_count": 471,
                  "ip": "192.30.253.113"
                }
              ],
              "type": "a",
              "organizations": [
                "GitHub, Inc."
              ],
              "last_seen": "2019-06-19",
              "first_seen": "2019-06-18"
            },
            {
              "values": [
                {
                  "ip_count": 470,
    [...]
[...]
