---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/history/github.com/dns/a?apikey=<API_KEY>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '2'
      X-Ratelimit-Remaining-Second:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "a/ipv4",
          "records": [
            {
              "values": [
                {
                  "ip_count": 99,
                  "ip": "192.30.253.113"
                },
                {
                  "ip_count": 89,
                  "ip": "192.30.253.112"
                }
              ],
              "type": "a",
              "organizations": [
                "GitHub, Inc."
              ],
              "last_seen": null,
              "first_seen": "2018-09-11"
            },
            {
              "values": [
                {
                  "ip_count": 14,
                  "ip": "192.30.255.113"
                },
                {
                  "ip_count": 31,
                  "ip": "192.30.255.112"
                }
              ],
              "type": "a",
              "organizations": [
                "GitHub, Inc."
              ],
              "last_seen": "2018-09-11",
              "first_seen": "2018-09-10"
 [...]
[...]
- request:
    method: get
    uri: https://api.securitytrails.com/v1/history/github.com/dns/a?apikey=<API_KEY>&page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '2'
      X-Ratelimit-Remaining-Second:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "a/ipv4",
          "records": [
            {
              "values": [
                {
                  "ip_count": 2,
                  "ip": "207.97.227.239"
                }
              ],
              "type": "a",
              "organizations": [
                "Rackspace Ltd."
              ],
              "last_seen": "2013-01-23",
              "first_seen": "2011-07-06"
            }
          ],
          "pages": 8,
          "endpoint": "/v1/history/github.com/dns/a"
        }
  recorded_at: Wed, 31 Oct 2018 23:06:48 GMT
[...]
- request:
    method: get
    uri: https://api.securitytrails.com/v1/history/github.com/dns/a?apikey=<API_KEY>&page=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '2'
      X-Ratelimit-Remaining-Second:
      - '0'
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "a/ipv4",
          "records": [
            {
              "values": [
                {
                  "ip_count": 6,
                  "ip": "65.74.177.129"
                }
              ],
              "type": "a",
              "organizations": [
                "Quality Investment Properties Sacramento, LLC"
              ],
              "last_seen": "2009-06-01",
              "first_seen": "2008-09-01"
            }
          ],
          "pages": 8,
          "endpoint": "/v1/history/github.com/dns/a"
        }
  recorded_at: Wed, 31 Oct 2018 23:06:50 GMT
recorded_with: VCR 4.0.0
