---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/domain/github.com/associated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "records": [
            {
              "whois": {
                "registrar": "eNom, Inc.",
                "expiresDate": 1620855534000,
                "createdDate": 1273700334000
              },
              "mail_provider": [
                "Google LLC"
              ],
              "hostname": "speakerdeck.com",
              "host_provider": [
                "Amazon.com, Inc."
              ],
              "computed": {
                "company_name": "GitHub, Inc."
              },
              "alexa_rank": 11481
            },
            {
              "whois": {
                "registrar": "MarkMonitor Inc.",
                "expiresDate": 1524236690000,
                "createdDate": 1461164690000
              },
              "mail_provider": [],
              "hostname": "github.community",
              "host_provider": [
                "Lithium Technologies, Inc."
              ],
              "computed": {
                "company_name": "GitHub, Inc."
              },
              [...]
