---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/domain/github.com?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '2'
      X-Ratelimit-Remaining-Second:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
          "hostname": "github.com",
          "endpoint": "/v1/domain/github.com",
          "current_dns": {
            "txt": {
              "values": [
                {
                  "value": "v=spf1 ip4:192.30.252.0/22 ip4:208.74.204.0/22 ip4:46.19.168.0/23 include:_spf.google.com include:esp.github.com include:_spf.createsend.com include:mail.zendesk.com include:servers.mcsv.net ~all"
                },
                {
                  "value": "docusign=087098e3-3d46-47b7-9b4e-8a23028154cd"
                },
                {
                  "value": "MS=ms44452932"
                },
                {
                  "value": "MS=6BF03E6AF5CB689E315FB6199603BABF2C88D805"
                }
              ],
              "first_seen": "2018-10-19"
            },
            "soa": {
              "values": [
                {
                  "ttl": 3600,
                  "email_count": 38,
                  "email": "hostmaster.github.com"
                }
              ],
              "first_seen": "2018-10-31"
            },
            "ns": {
              "values": [
                {
                  "nameserver_organization": "Dynamic Network Services, Inc.",
                  "nameserver_count": 6770,
                  "nameserver": "ns4.p16.dynect.net"
                },
                {
                  "nameserver_organization": "Dynamic Network Services, Inc.",
                  "nameserver_count": 6758,
                  "nameserver": "ns3.p16.dynect.net"
                },
                {
                  "nameserver_organization": "Dynamic Network Services, Inc.",
                  "nameserver_count": 6768,
                  "nameserver": "ns2.p16.dynect.net"
                },
                {
               [...]
