---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/history/github.com/whois/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "result": {
            "items": [
              {
                "updatedDate": 1371210528000,
                "status": [
                  "clientDeleteProhibited",
                  "clientTransferProhibited",
                  "clientUpdateProhibited"
                ],
                "started": 1409565503000,
                "registrarName": "MARKMONITOR INC.",
                "nameServers": [
                  "NS1.P16.DYNECT.NET",
                  "NS2.P16.DYNECT.NET",
                  "NS3.P16.DYNECT.NET",
                  "NS4.P16.DYNECT.NET"
                ],
                "gtld": true,
                "full_domain": "github.com",
                "expiresDate": 1602244128000,
                "ended": 1512131429000,
                "domain": "github.com",
                "createdDate": 1191930528000,
                "contact": [
                  {
                    "type": "registrant",
                    "telephone": "14157354488",
                    "street1": "88 Colin P Kelly Jr St,",
                    "state": "CA",
                    "postalCode": "94107",
                    "organization": "GitHub, Inc.",
                    "name": "GitHub Hostmaster",
                    "email": "hostmaster@github.com",
                    "country": "UNITED STATES",
                    "city": "San Francisco"
                  },
                  {
                    "type": "administrativeContact",
                    "telephone": "14157354488",
                    "street1": "88 Colin P Kelly Jr St,",
                    "state": "CA",
                    "postalCode": "94107",
                    "organization": "GitHub, Inc.",
                    "name": "GitHub Hostmaster",
                    "email": "hostmaster@github.com",
                    "country": "UNITED STATES",
  [...]
