---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/history/github.com/whois/?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '2'
      X-Ratelimit-Remaining-Second:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
          "result": {
            "items": [
              {
                "updatedDate": 1371210528534,
                "tld": "com",
                "status": [
                  "clientDeleteProhibited",
                  "clientTransferProhibited",
                  "clientUpdateProhibited"
                ],
                "started": 1409565503690,
                "registrarName": "MARKMONITOR INC.",
                "nameServers": [
                  "NS1.P16.DYNECT.NET",
                  "NS2.P16.DYNECT.NET",
                  "NS3.P16.DYNECT.NET",
                  "NS4.P16.DYNECT.NET"
                ],
                "expiresDate": 1602244128534,
                "ended": 1512131429698,
                "domain": "github.com",
                "createdDate": 1191930528534,
                "contactEmail": "hostmaster@github.com",
                "contact": [
                  {
                    "type": "registrant",
                    "telephone": "14157354488",
                    "street1": "88 Colin P Kelly Jr St,",
                    "state": "CA",
                    "postalCode": "94107",
                    "organization": "GitHub, Inc.",
                    "name": "GitHub Hostmaster",
                    "email": "hostmaster@github.com",
                    "country": "UNITED STATES",
                    "city": "San Francisco"
                  },
                  {
                    "type": "administrativeContact",
                    "telephone": "14157354488",
                    "street1": "88 Colin P Kelly Jr St,",
                    "state": "CA",
                    "postalCode": "94107",
                    "organization": "GitHub, Inc.",
                    "name": "GitHub Hostmaster",
                    "email": "hostmaster@github.com",
                    "country": "UNITED STATES",
  [...]
