---
http_interactions:
- request:
    method: post
    uri: https://api.securitytrails.com/v1/domains/stats
    body:
      encoding: UTF-8
      string: '{"filter":{"ipv4":"1.1.1.1"}}'
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "whois_organization_count": 2737,
          "top_organizations": [
            {
              "key": "Domains By Proxy, LLC",
              "count": 1459
            },
            {
              "key": "WhoisGuard, Inc.",
              "count": 365
            },
            {
              "key": "Just Energy",
              "count": 212
            },
            {
              "key": "Bristol-Myers Squibb",
              "count": 172
            },
            {
              "key": "Bristol-Myers Squibb Company",
              "count": 108
            },
            {
              "key": "Black Point Arts Internet Solutions GmbH",
              "count": 85
            },
            {
              "key": "CSC Corporate Domains, Inc.",
              "count": 64
            },
            {
              "key": "Nexperian Holding Limited",
              "count": 60
            },
            {
              "key": "5 Palms LLC",
              "count": 55
            },
            {
              "key": "Hetzner Online GmbH",
              "count": 46
            },
            {
              "key": "Whois Privacy Protection Service, Inc.",
              "count": 40
            },
            {
              "key": "WSI Corporate",
              "count": 40
            },
            {
              "key": "See PrivacyGuardian.org",
              "count": 39
            },
            {
              "key": "Safenames Ltd",
              "count": 38
            },
            {
              "key": "4structures.com, LLC",
              "count": 27
            }
          ],
          "tld_count": 293,
          "hostname_count": {
            "value": 59248,
            "relation": "eq"
          },
          "endpoint": "/v1/domains/stats",
          "domain_count": 25434
        }
  recorded_at: Sun, 20 Oct 2019 01:11:08 GMT
recorded_with: VCR 5.0.0
