---
http_interactions:
- request:
    method: post
    uri: https://api.securitytrails.com/v1/domains/stats
    body:
      encoding: UTF-8
      string: '{"filter":{"ipv4":"1.1.1.1"}}'
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "whois_organization_count": 2056,
          "top_organizations": [
            {
              "key": "Domains By Proxy, LLC",
              "count": 1210
            },
            {
              "key": "WhoisGuard, Inc.",
              "count": 642
            },
            {
              "key": "Just Energy",
              "count": 193
            },
            {
              "key": "Bristol-Myers Squibb",
              "count": 171
            },
            {
              "key": "Bristol-Myers Squibb Company",
              "count": 107
            },
            {
              "key": "Black Point Arts Internet Solutions GmbH",
              "count": 75
            },
            {
              "key": "CSC Corporate Domains, Inc.",
              "count": 57
            },
            {
              "key": "5 Palms LLC",
              "count": 55
            },
            {
              "key": "Lile Inc.",
              "count": 49
            },
            {
              "key": "Hetzner Online GmbH",
              "count": 48
            },
            {
              "key": "Nexperian Holding Limited",
              "count": 47
            },
            {
              "key": "See PrivacyGuardian.org",
              "count": 40
            },
            {
              "key": "WSI Corporate",
              "count": 39
            },
            {
              "key": "Whois Privacy Protection Service, Inc.",
              "count": 36
            },
            {
              "key": "Safenames Ltd",
              "count": 34
            }
          ],
          "tld_count": 280,
          "hostname_count": {
            "value": 39275,
            "relation": "eq"
          },
          "endpoint": "/v1/domains/stats",
          "domain_count": 19356
        }
  recorded_at: Fri, 21 Jun 2019 09:25:33 GMT
recorded_with: VCR 5.0.0
