---
http_interactions:
- request:
    method: get
    uri: https://api.securitytrails.com/v1/domain/github.com/whois
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Second:
      - '4'
    body:
      encoding: UTF-8
      string: |-
        {
          "updatedDate": "2019-05-13T06:58:33-0700",
          "status": "clientUpdateProhibited clientTransferProhibited clientDeleteProhibited",
          "registrarName": "MarkMonitor, Inc.",
          "nameServers": [
            "ns-1707.awsdns-21.co.uk",
            "ns2.p16.dynect.net",
            "ns3.p16.dynect.net",
            "ns-421.awsdns-52.com",
            "ns-520.awsdns-01.net",
            "ns-1283.awsdns-32.org",
            "ns4.p16.dynect.net",
            "ns1.p16.dynect.net"
          ],
          "expiresDate": "2020-10-09T11:20:50-0700",
          "endpoint": "/v1/domain/github.com/whois",
          "domain": "github.com",
          "createdDate": "2007-10-09T11:20:50-0700",
          "contacts": [
            {
              "type": "technicalContact",
              "state": "CA",
              "organization_count": 190,
              "organization": "GitHub, Inc.",
              "countryCode": "US",
              "country": "UNITED STATES"
            },
            {
              "type": "administrativeContact",
              "state": "CA",
              "organization_count": 190,
              "organization": "GitHub, Inc.",
              "countryCode": "US",
              "country": "UNITED STATES"
            },
            {
              "type": "registrant",
              "state": "CA",
              "organization_count": 190,
              "organization": "GitHub, Inc.",
              "countryCode": "US",
              "country": "UNITED STATES"
            }
          ],
          "contactEmail": "abusecomplaints@markmonitor.com"
        }
  recorded_at: Sun, 20 Oct 2019 01:10:58 GMT
recorded_with: VCR 5.0.0
